<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%.-1p@%d{HH:mm:ss}: [%c] %m {T:%4t}%n</pattern>
    </encoder>
  </appender>
  <logger name="akka" level="WARN"/>
  <root level="DEBUG">
    <appender-ref ref="stdout"/>
  </root>
</configuration>
